= render 'header'
.ui.container
  - if @users.empty?
    .ui.segment.yellow
      %h1 Buralar boş gözüküyor
      Yanlış gelmiş olabilirsin. Yada sen biraz erken geldin.
  - else
    %h1.ui.header.blue
      En Popüler Kullanıcılar
    .ui.segment
      .ui.items
        - @users.each do |e|
          .item
            %a.ui.tiny.image
              %img{:src => e.image_url}/
            .content
              %a.header{href: e.username }
                = e.username
              .description
                %p
                = e.count.to_s
                Görüntülenme
        = will_paginate @users
= render 'footer'
