= render 'header'
.ui.container
  - if @user.present?
    .ui.segment
      .ui.grid
        .row
          .four.wide.column
            = image_tag @git_user['avatar_url'], class: 'ui medium circular image shadow'
          .twelve.wide.column
            %h1
              = @git_user['name'] ||= @git_user['login']
            .ui.labeled.button{"data-inverted": "", "data-tooltip": "Bu profil #{ @user.count } kez görüntülenmiş."}
              .ui.blue.button
                %i.eye.icon
                Gösterilme
              .ui.basic.blue.left.pointing.label
                = @user.count

            .ui.labeled.button#line_count_hover{"data-inverted": "", "data-tooltip": "Çok fazla kod var. Hesaplamaya çalışıyoruz."}
              .ui.blue.button
                %i.file.alternate.icon
                Satır Sayısı
              .ui.basic.blue.left.pointing.label
                #line_count
                  .ui.active.inline.loader.tiny

            .ui.labeled.button{"data-inverted": "", "data-tooltip": "En çok #{ @git_user['fav_lang'] } dili ile geliştirme yapılmış."}
              .ui.blue.button
                %i.heart.icon
                Favori Dil
              .ui.basic.blue.left.pointing.label
                = @git_user['fav_lang'] ||= "Bulunamadı"
            .ui.labeled.button{"data-inverted": "", "data-tooltip": "Toplam #{ @git_user['stars'] } star almış."}
              .ui.blue.button
                %i.star.icon
                Toplam Yıldız
              .ui.basic.blue.left.pointing.label
                = @git_user['stars']
            .lang-icon
              - if @git_user['fav_lang'] == "HTML"
                %i.colored.devicon-html5-plain-wordmark
              - elsif @git_user['fav_lang'] == "CSS"
                %i.colored.devicon-css3-plain-wordmark
              - elsif @git_user['fav_lang'] == "C#"
                %i.colored.devicon-csharp-plain-wordmark
              - elsif @git_user['fav_lang'] == "JavaScript"
                %i.colored.devicon-javascript-plain
              - else
                %i.colored{class: "devicon-#{ @git_user['fav_lang'].downcase }-plain-wordmark" }
        .row
          .one.wide.column
          .fourteen.wide.column
            %h2
              Depolar
            %table.ui.blue.inverted.table
              %thead
                %tr
                  %th
                  %th Depo Adı
                  %th Açıklama
                  %th Programlama Dili
                  %th Yıldızlar
                  %th Forklar
              %tbody
                - @git_user['repos'].each do |repo|
                  %tr
                    %td
                      - if repo['fork']
                        %i.fork.icon
                    %td
                      = link_to repo['name'], repo['html_url']
                    %td
                      = repo['description'] ||= "------" # Ayrıntılar için http://alperenbozkurt.net/Rubyde-varlik-atamasi/ adresini ziyaret edebilirsiniz.
                    %td
                      = repo['language'] ||= "------"    # Eğer dil bilgisi nil gelirse "dil bulunamadı" yazıyor
                    %td
                      = repo['stargazers_count']
                    %td
                      = repo['forks_count']
          .one.wide.column
      :coffeescript
        $(document).ready ->
          $.ajax(url: "/#{@user.username}/line").done (html) ->     # burada sayfa yüklendikten sonra satır sayısını veren
            $("#line_count").html html                              # endpoint'e istek yaparak içeriğe sonradan eklenmesini sağladım.
            $("#line_count_hover").attr "data-tooltip", html + " satır kod yazılmış.( Forklar sayılmıyor. )"
  - else
    .ui.segment.yellow
      .text-center
        %h1.ui.header.blue
          Buralar boş gözüküyor

= render 'footer'
