= render 'header'
.ui.container
  .ui.segment
    - if @user.present?
      .ui.grid
        .four.wide.column
          = image_tag @git_user['avatar_url'], class: 'ui medium circular image shadow'
        .twelve.wide.column
          %h1
            = @git_user['name']
          .ui.labeled.button{"data-inverted": "", "data-tooltip": "#{ @user.count } Kişi bu profile bakmış"}
            .ui.blue.button
              %i.eye.icon
              Gösterilme
            .ui.basic.blue.left.pointing.label
              = @user.count
          .ui.labeled.button{"data-inverted": "", "data-tooltip": "#{ @git_user['line_counter'] } satır kod yazmış"}
            .ui.blue.button
              %i.file.alternate.icon
              Satır Sayısı
            .ui.basic.blue.left.pointing.label
              = @git_user['line_counter']
          .ui.labeled.button{"data-inverted": "", "data-tooltip": "En çok #{ @git_user['fav_lang'] } dili ile geliştirme yapılmış"}
            .ui.blue.button
              %i.file.alternate.icon
              Favori Dil
            .ui.basic.blue.left.pointing.label
              = @git_user['fav_lang']
          %br


          %br
          %h2
            Depolar
          %table.ui.blue.table
            %thead
              %tr
                %th Depo Adı
                %th Açıklama
                %th Programlama Dili
            %tbody
              - @git_user['repos'].each do |repo|
                %tr
                  %td
                    = link_to repo['name'], repo['html_url']
                  %td
                    = repo['description'] ||= "------" # Ayrıntılar için http://alperenbozkurt.net/Rubyde-varlik-atamasi/ adresini ziyaret edebilirsiniz.
                  %td
                    = repo['language'] ||= "------"    # Eğer dil bilgisi nil gelirse "dil bulunamadı" yazıyor

    - else
      .text-center
        %h1.ui.header.blue
          Buralar boş gözüküyor
